{% extends "path/app.html" %}
{% load static %}
{% load voting_filters %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-margin-large-left uk-margin-large-right">
                <div class="">
                    <div class="uk-card uk-card-secondary uk-card-body" style="background-color: #3A3460;">
                        <h3 class="uk-text-bold">SUCCESS</h3>
                        <p>
                            Your nomination have been successfully sent! <br> <a class="uk-text-bold" href="https://tmsa.or.tz/">Back Home</a>
                        </p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}